TELEGRAM_BOT_TOKEN=123456:replace-me
ADMIN_USER_IDS=111111111,222222222
GROUP_CHAT_IDS=-1001234567890,-1009876543210
BOT_DATA_DIR=data
FIXTURES_SOURCE_URL=https://en.wikipedia.org/wiki/2026_FIFA_World_Cup
BOT_TIMEZONE=Asia/Yerevan
LISTEN_TIMEOUT_SECONDS=25
DAILY_POLL_HOUR=20
DAILY_POLL_MINUTE=0
